body {
    font-family: Arial, sans-serif;
    background-color: #f5f8b6;
    margin: 0;
    padding: 0;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin-top: 200px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, minmax(200px, auto));
    grid-template-areas: 
        "box1 image"
        "box2 image"
        "box3 image"
        "box4 image"
        "box5 image";
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.box h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

.box p {
    font-size: 1rem;
}

.image-gallery{
    grid-area: image;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    height: 400px;
    position: relative;
}

.image-gallery img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.image-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.box-orange { grid-area: box1; background-color: #ffcc80;}
.box-pink { grid-area: box2; background-color: #f48fb1;}
.box-green { grid-area: box3; background-color: #a5d6a7;}
.box-blue { grid-area: box4; background-color: #81d4fa;}
.box-purple {grid-area: box5; background-color: #ce93d8;}

.box-orange:hover { background-color: #ffa726; } 
.box-pink:hover { background-color: #ec407a; }
.box-green:hover { background-color: #66bb6a; }
.box-blue:hover { background-color: #29b6f6; }
.box-purple:hover { background-color: #ab47bc; }


@media (max-width: 768px) {
    .image-gallery img {
        max-width: 100%;
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to  {
        opacity: 1;
    }
}