.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f5f8b6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

